language: go
go: 
 - 1.x

script:
 - go test -v ./...




#language: go

#services:
 # - docker

#before_install:
#- docker build --no-cache -t ${TRAVIS_REPO_SLUG}:${TRAVIS_COMMIT} .
#- docker run ${TRAVIS_REPO_SLUG}:${TRAVIS_COMMIT} /go/src/github.com//suryanaicker79/travisci-golang-example/travisci-golang-example.test
#- docker run -d ${TRAVIS_REPO_SLUG}:${TRAVIS_COMMIT}

#script:
  
 # - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  #- docker push ${TRAVIS_REPO_SLUG}:${TRAVIS_COMMIT}




#language: go

#services:
 # - docker


#before_install:
#- docker build -t travisexample:travis .
#- docker run travisexample:travis /go/src/github.com/suryanaicker79/travisci-golang-example/travisci-golang-example.test
#- docker run travisexample:travis

#script:
#- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
#- docker push suryanaicker79/travisexample:travis


#language: go
#go: 
 #- 1.x

#script:
 #- go test -v ./...
