language: go
#go:
#-1.x

#script:
#- go test -v ./...

services:
  - docker


before_install:
- docker build --no-cache -t suryanaicker79/travisexample:travis .
- docker run suryanaicker79/travisexample:travis go/src/github.com/suryanaicker79/travisci-golang-example
- docker run -d  suryanaicker79/travisexample:travis

script:
- echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
- docker push suryanaicker79/travisexample:travis


#language: go
#go: 
 #- 1.x

#script:
 #- go test -v ./...
