language: go

services:
  - docker

before_install:
- docker build --no-cache -t travisci-golang-example .
- docker run travisci-golang-example /go/src/github.com/suryanaicker79/travisci-golang-example/travisci-golang-example.test
- docker run travisci-golang-example

script:
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_USERNAME" --password-stdin
  - docker images
  - docker tag travisci-golang-example:latest travisci-golang-example:doc
  - docker push travisci-golang-example:doc





